.container{
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
  }
  .calculator{
    width: 163px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(114, 21, 21);
  }
  form input{
    
    outline: 0;
    width: 47px;
    height: 35px;
    font-size: 16px;
    background-color: white;
    margin: 2px;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
  }
  form input[type="button"]:hover {
    background-color: rgb(29, 155, 155);
  }
  form .display{
    display: flex;
    justify-content: flex-end;
    margin: 5px 3px 0px 0px;
    padding: 0px 0;
    
  }
  form .display input{
    text-align: right;
    flex: 1;
    font-size: 20px;
    padding: 5px 10px;
    background-color:  white;
    border: 2px solid black;
  }
  


  .form-check-label {
    font-size: 13px; /* Taille de police plus petite */
  }